
<div *ngIf="customer">
    <h2><span jhiTranslate="barkleyApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="barkleyApp.customer.firstName">First Name</span></dt>
        <dd>
            <span>{{customer.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="barkleyApp.customer.lastName">Last Name</span></dt>
        <dd>
            <span>{{customer.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="barkleyApp.customer.document">Document</span></dt>
        <dd>
            <span>{{customer.document}}</span>
        </dd>
        <dt><span jhiTranslate="barkleyApp.customer.pesel">Pesel</span></dt>
        <dd>
            <span>{{customer.pesel}}</span>
        </dd>
        <dt><span jhiTranslate="barkleyApp.customer.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{customer.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="barkleyApp.customer.email">Email</span></dt>
        <dd>
            <span>{{customer.email}}</span>
        </dd>
        <dt><span jhiTranslate="barkleyApp.customer.aditionalInfo">Aditional Info</span></dt>
        <dd>
            <div *ngIf="customer.aditionalInfoId">
                <a [routerLink]="['/customer-additional-info-my-suffix', customer.aditionalInfoId]">{{customer.aditionalInfoId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer-my-suffix/'+ customer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
